openapi: 3.1.0
info:
  title: Trellix EDR Action History Alerts API
  description: Endpoint Detection and Response API for advanced threat hunting, investigation, and automated response capabilities. The EDR API supports querying threat data, searching devices, retrieving action history, and executing real-time search and response actions across managed endpoints. Authentication uses OAuth 2.0 client credentials with the soc.act.tg scope.
  version: '2.0'
  contact:
    name: Trellix Support
    url: https://www.trellix.com/support/
  termsOfService: https://www.trellix.com/en-us/about/legal/terms-of-use.html
servers:
- url: https://api.manage.trellix.com
  description: Trellix Cloud Management Platform
security:
- bearerAuth: []
tags:
- name: Alerts
  description: Access discrete detection alerts containing process, user, and host context with trace identifiers and severity scores.
paths:
  /edr/v2/alerts:
    get:
      operationId: listAlerts
      summary: List alerts
      description: Retrieve discrete detection alerts containing process, user, and host context. Alerts include trace identifiers, detection dates, event types, severity scores, and detection tags.
      tags:
      - Alerts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: since
        in: query
        description: Return alerts generated after this ISO 8601 timestamp.
        schema:
          type: string
          format: date-time
      - name: severity
        in: query
        description: Filter alerts by severity level
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
      responses:
        '200':
          description: Paginated list of alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized - invalid or expired access token
components:
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of items to return per page
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    Alert:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the alert
        traceId:
          type: string
          description: Trace identifier linking related events
        eventType:
          type: string
          description: Type classification of the alert event
        severity:
          type: integer
          description: Numeric severity score of the alert
        processName:
          type: string
          description: Name of the process associated with the alert
        commandLine:
          type: string
          description: Command line of the process
        hashId:
          type: string
          description: Hash identifier of the process or file
        domain:
          type: string
          description: Network domain associated with the alert
        hostName:
          type: string
          description: Hostname of the affected endpoint
        userName:
          type: string
          description: User account context for the alert
        detectedAt:
          type: string
          format: date-time
          description: Timestamp when the alert was generated
        tags:
          type: array
          items:
            type: string
          description: Detection classification tags
    PaginationMeta:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of items matching the query
        limit:
          type: integer
          description: Number of items per page
        offset:
          type: integer
          description: Number of items skipped
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained through the client credentials flow with soc.act.tg scope. Credentials are generated through the Trellix EDR Credential Generator.
externalDocs:
  description: Trellix EDR Product Guide
  url: https://docs.trellix.com/bundle/mvision-endpoint-detection-and-response-product-guide
