openapi: 3.1.0
info:
  title: Trellix EDR Action History Threats API
  description: Endpoint Detection and Response API for advanced threat hunting, investigation, and automated response capabilities. The EDR API supports querying threat data, searching devices, retrieving action history, and executing real-time search and response actions across managed endpoints. Authentication uses OAuth 2.0 client credentials with the soc.act.tg scope.
  version: '2.0'
  contact:
    name: Trellix Support
    url: https://www.trellix.com/support/
  termsOfService: https://www.trellix.com/en-us/about/legal/terms-of-use.html
servers:
- url: https://api.manage.trellix.com
  description: Trellix Cloud Management Platform
security:
- bearerAuth: []
tags:
- name: Threats
  description: Query aggregated threat intelligence including threat names, severity rankings, SHA256 hashes, and MITRE ATT&CK mappings.
paths:
  /edr/v2/threats:
    get:
      operationId: listThreats
      summary: List detected threats
      description: Retrieve a list of aggregated threats detected across managed endpoints. Threats are collections of related alerts grouped by Trellix correlation logic, including severity rankings, SHA256 hashes, and MITRE ATT&CK technique mappings.
      tags:
      - Threats
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: since
        in: query
        description: Return threats detected after this ISO 8601 timestamp.
        schema:
          type: string
          format: date-time
      - name: severity
        in: query
        description: Filter threats by severity level
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
      responses:
        '200':
          description: Paginated list of detected threats
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Threat'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized - invalid or expired access token
        '403':
          description: Forbidden - insufficient scope permissions
  /edr/v2/threats/{threatId}:
    get:
      operationId: getThreat
      summary: Get threat details
      description: Retrieve detailed information about a specific threat including all associated alerts, affected hosts, MITRE ATT&CK mappings, and aggregated indicators of compromise.
      tags:
      - Threats
      parameters:
      - $ref: '#/components/parameters/threatId'
      responses:
        '200':
          description: Threat details returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Threat'
        '401':
          description: Unauthorized - invalid or expired access token
        '404':
          description: Threat not found
components:
  parameters:
    threatId:
      name: threatId
      in: path
      required: true
      description: Unique identifier of the threat
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of items to return per page
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    Threat:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the threat
        name:
          type: string
          description: Name or classification of the threat
        severity:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
          description: Overall severity ranking of the threat
        sha256:
          type: string
          description: SHA256 hash associated with the threat
        sha1:
          type: string
          description: SHA1 hash associated with the threat
        md5:
          type: string
          description: MD5 hash associated with the threat
        aggregationKey:
          type: string
          description: Key used to correlate related detections
        mitreAttack:
          type: array
          items:
            type: string
          description: MITRE ATT&CK technique identifiers
        detectionCount:
          type: integer
          description: Total number of detections for this threat
        affectedHostCount:
          type: integer
          description: Number of hosts affected by this threat
        firstDetected:
          type: string
          format: date-time
          description: Timestamp of the first detection
        lastDetected:
          type: string
          format: date-time
          description: Timestamp of the most recent detection
    PaginationMeta:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of items matching the query
        limit:
          type: integer
          description: Number of items per page
        offset:
          type: integer
          description: Number of items skipped
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained through the client credentials flow with soc.act.tg scope. Credentials are generated through the Trellix EDR Credential Generator.
externalDocs:
  description: Trellix EDR Product Guide
  url: https://docs.trellix.com/bundle/mvision-endpoint-detection-and-response-product-guide
