openapi: 3.1.0
info:
  title: Trellix EDR Action History Reactions API
  description: Endpoint Detection and Response API for advanced threat hunting, investigation, and automated response capabilities. The EDR API supports querying threat data, searching devices, retrieving action history, and executing real-time search and response actions across managed endpoints. Authentication uses OAuth 2.0 client credentials with the soc.act.tg scope.
  version: '2.0'
  contact:
    name: Trellix Support
    url: https://www.trellix.com/support/
  termsOfService: https://www.trellix.com/en-us/about/legal/terms-of-use.html
servers:
- url: https://api.manage.trellix.com
  description: Trellix Cloud Management Platform
security:
- bearerAuth: []
tags:
- name: Reactions
  description: Execute response actions on endpoints such as killing processes, quarantining files, or isolating hosts.
paths:
  /edr/v2/reactions:
    post:
      operationId: createReaction
      summary: Execute a response reaction
      description: Execute a response reaction on a targeted endpoint, such as killing a process, quarantining a file, or collecting forensic data. Reactions are executed in the context of a real-time search session.
      tags:
      - Reactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionCreate'
      responses:
        '202':
          description: Reaction accepted for execution
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Reaction'
        '400':
          description: Invalid reaction parameters
        '401':
          description: Unauthorized - invalid or expired access token
components:
  schemas:
    Reaction:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the reaction
        type:
          type: string
          description: Type of response reaction executed
        status:
          type: string
          enum:
          - pending
          - executing
          - completed
          - failed
          description: Current execution status of the reaction
        targetHost:
          type: string
          description: Host identifier targeted by the reaction
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the reaction was created
    ReactionCreate:
      type: object
      required:
      - type
      - targetHost
      properties:
        type:
          type: string
          enum:
          - kill_process
          - quarantine_file
          - collect_data
          - isolate_host
          description: Type of response reaction to execute
        targetHost:
          type: string
          description: Identifier of the host to target
        parameters:
          type: object
          description: Additional parameters specific to the reaction type, such as process ID for kill_process or file path for quarantine_file.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained through the client credentials flow with soc.act.tg scope. Credentials are generated through the Trellix EDR Credential Generator.
externalDocs:
  description: Trellix EDR Product Guide
  url: https://docs.trellix.com/bundle/mvision-endpoint-detection-and-response-product-guide
