openapi: 3.1.0
info:
  title: Trellix EDR Action History Affected Hosts API
  description: Endpoint Detection and Response API for advanced threat hunting, investigation, and automated response capabilities. The EDR API supports querying threat data, searching devices, retrieving action history, and executing real-time search and response actions across managed endpoints. Authentication uses OAuth 2.0 client credentials with the soc.act.tg scope.
  version: '2.0'
  contact:
    name: Trellix Support
    url: https://www.trellix.com/support/
  termsOfService: https://www.trellix.com/en-us/about/legal/terms-of-use.html
servers:
- url: https://api.manage.trellix.com
  description: Trellix Cloud Management Platform
security:
- bearerAuth: []
tags:
- name: Affected Hosts
  description: Query detection counts, severity rankings, and first detection timestamps for systems affected by threats.
paths:
  /edr/v2/affectedhosts:
    get:
      operationId: listAffectedHosts
      summary: List affected hosts
      description: Retrieve detection counts, severity rankings, and first detection timestamps for systems affected by threats. Provides a host-centric view of the threat landscape across managed endpoints.
      tags:
      - Affected Hosts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: threatId
        in: query
        description: Filter affected hosts by a specific threat
        schema:
          type: string
      responses:
        '200':
          description: Paginated list of affected hosts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AffectedHost'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized - invalid or expired access token
components:
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of items to return per page
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    AffectedHost:
      type: object
      properties:
        hostName:
          type: string
          description: Hostname of the affected system
        agentGuid:
          type: string
          format: uuid
          description: GUID of the endpoint agent
        ipAddress:
          type: string
          description: IP address of the affected host
        macAddresses:
          type: array
          items:
            type: string
          description: MAC addresses of network interfaces
        detectionCount:
          type: integer
          description: Number of detections on this host
        severity:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
          description: Highest severity detection on this host
        firstDetected:
          type: string
          format: date-time
          description: Timestamp of the first detection on this host
        lastDetected:
          type: string
          format: date-time
          description: Timestamp of the most recent detection
    PaginationMeta:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of items matching the query
        limit:
          type: integer
          description: Number of items per page
        offset:
          type: integer
          description: Number of items skipped
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained through the client credentials flow with soc.act.tg scope. Credentials are generated through the Trellix EDR Credential Generator.
externalDocs:
  description: Trellix EDR Product Guide
  url: https://docs.trellix.com/bundle/mvision-endpoint-detection-and-response-product-guide
