openapi: 3.1.0
info:
  title: Trellix EDR Action History API
  description: Endpoint Detection and Response API for advanced threat hunting, investigation, and automated response capabilities. The EDR API supports querying threat data, searching devices, retrieving action history, and executing real-time search and response actions across managed endpoints. Authentication uses OAuth 2.0 client credentials with the soc.act.tg scope.
  version: '2.0'
  contact:
    name: Trellix Support
    url: https://www.trellix.com/support/
  termsOfService: https://www.trellix.com/en-us/about/legal/terms-of-use.html
servers:
- url: https://api.manage.trellix.com
  description: Trellix Cloud Management Platform
security:
- bearerAuth: []
tags:
- name: Action History
  description: Retrieve the history of response actions executed on managed endpoints through the EDR platform.
paths:
  /edr/v2/actions:
    get:
      operationId: listActionHistory
      summary: List action history
      description: Retrieve the history of response actions executed through the EDR platform, including their status and target details.
      tags:
      - Action History
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: since
        in: query
        description: Return actions executed after this ISO 8601 timestamp.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Paginated list of actions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionHistoryEntry'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: Unauthorized - invalid or expired access token
components:
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of items to return per page
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    offset:
      name: offset
      in: query
      description: Number of items to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    ActionHistoryEntry:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the action
        type:
          type: string
          description: Type of action executed
        status:
          type: string
          enum:
          - pending
          - executing
          - completed
          - failed
          description: Final status of the action
        targetHost:
          type: string
          description: Hostname targeted by the action
        initiatedBy:
          type: string
          description: User or system that initiated the action
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the action was initiated
        completedAt:
          type: string
          format: date-time
          description: Timestamp when the action completed
    PaginationMeta:
      type: object
      properties:
        totalItems:
          type: integer
          description: Total number of items matching the query
        limit:
          type: integer
          description: Number of items per page
        offset:
          type: integer
          description: Number of items skipped
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained through the client credentials flow with soc.act.tg scope. Credentials are generated through the Trellix EDR Credential Generator.
externalDocs:
  description: Trellix EDR Product Guide
  url: https://docs.trellix.com/bundle/mvision-endpoint-detection-and-response-product-guide
